body{
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("https://images.newindianexpress.com/uploads/user/imagelibrary/2021/11/29/w900X450/railways_train.jpg?w=640&dpr=1.3");
   background-repeat : "no-repeat"
  }

#nav{
   padding-top: 0%;
   margin-top: -20px;
  
    position: fixed;
     display: flex;
    background-color:black;
    width: 100%;
    height: 70px;
    justify-content:space-around;
    }
 img{
    width:100px;
    height:100%;
    border-radius: 50%;
}

#nav2{
    margin-top: 20px;
    
    justify-content: space-between;
    
}
#nav2 button{
    background-color: yellow;
    padding: 10px;
    margin-left: 30px;
    border-radius: 20px;
}

/* **************************************navbar end**************************************** */

.formDiv {
   background-color: aqua;
    width: 80%;
    margin:auto;
    margin-top: 20px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; 
    padding: 20px;
    border-radius: 10px;  
    font-family: Verdana; 
    
}
.formDiv>h1{
   
    text-align: center;
    color:purple;
    margin-bottom: -10px;
   
}
#form>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    gap: 4px;  
}
#form>div>label{
    margin-top: 20px;
    font-size: large;
    font-weight: bold;
    float: left;
}
#form>div>input[type="submit"]{
    cursor: pointer;
    margin-top: 20px;
    font-size: large;
    background-color: green;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
#form>div>input[type="text"],
#form>div>input[type="number"]{
  padding: 5px;
  border-radius: 5px;
  border-color: #ccc;
}
select{
    border-radius: 5px;  
    padding: 5px;
    background-color: black;
    color: white;
}

@media only screen and (min-width: 1000px){
    .formDiv{
        width: 40%;
    }
}
/* ******************************register form***************** */

select{
    border-radius: 5px;  
    padding: 5px;
   
  }
  table{
      width: 90%;
      margin: auto;
      margin-top: 20px;
      text-align: center;    
      border: 1px solid black;
  }
  th, td {    
    border: 1px solid black;  
    padding: 10px;
  }
  tr:nth-child(even) {
    background-color: #b2c49d;
  }
  tr:nth-child(odd) {
    background-color: #6b7c56;
  }
  th:nth-child(even) {
    background-color: #ead8e5;
  }
  th:nth-child(odd) {
    background-color: #f3e5ef;
  }
  
  .confirmBtn{
    background-color: green;
    cursor: pointer;
  }
  .rejectBtn{
    background-color: red;
    cursor: pointer;
  }